*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing : antialiased;
}



html{
  overflow-x: hidden;
}

button{
  cursor: pointer;
}



@keyframes translate{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: translateY(-20px);
  }
}

@keyframes translateY{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(10px);
  }
}

@keyframes skew{
  0%{
    transform: skew(0deg);
  }
  50%{
    transform: skew(10deg);
  }
  100%{
    transform: skew(0deg);
  }
}

@keyframes rotate3d{
  0%{
    transform: rotate3d(1, 1, 1, 360deg);
  }
  100%{
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

#at-sign-icon{
 
  animation: translate 6s infinite alternate ease-in-out;
}

#email-icon{
  animation: skew 4s infinite alternate ease-in-out;
}

#email-icon-2{
  animation: rotate3d 6s infinite  ease-in-out;
}

#girls-body{
  animation: translateY 5s infinite alternate ease-in-out;
}

#girls-t-shirt{
  animation: translateY 5s infinite alternate ease-in-out;
}

#right-shoe{
  animation: translateY 5s infinite alternate ease-in-out;
}

#left-shoe{
  animation: translateY 5s infinite alternate ease-in-out;
}

#eyebrow{
  animation: translateY 5s infinite alternate ease-in-out;
}	

#eyes{
  animation: translateY 5s infinite alternate ease-in-out;
}